@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.menu
{
    background: #39393B;
    width:100%;
    height:66px;
    line-height:66px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
 
}

.logo
{
    margin:0;padding:0;
    color: #fff; 
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 30px;
    letter-spacing:3px;
}

.m-left
{
    float:left; 
}

.m-right
{
    float: right; 
}

.m-link
{
    text-decoration: none; 
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0; margin: 0 15px; 
    /* padding 0 en haut et en bas, margin 0 en haut et en bas mais 15 pixels sur les côtés*/ 
    transition: all 0.3s ease-in-out; 
    border-bottom: 1px solid transparent;
}

a{
    text-decoration:none;
}

.m-link:hover{
    padding-bottom: 3px;
    border-color: #fff; /* à retravailler*/
}

.m-link i
{
    margin-right: 5px; 
    
}
