@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;900&display=swap');


html,body
{
    margin:0;padding:0;
    font-family: "Lato";
}
.inner
{
    width: 80%;
    margin: auto;
}
.central-section {
    text-align:center;
    max-width: 800px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border-radius: 10px; /* Coins arrondis pour un aspect moderne */
    border: 2px solid black;
    margin-top: 20px; /* Espace supplémentaire en haut de la section */
    height: 5%;
}
.central {
    width: 100%; /* Le titre occupe la largeur complète de la section */
    text-align: center; /* Centre le texte du titre */
    margin-bottom: 20px; /* Espace entre le titre et les articles */
}
.formAccueil
{
    width: 100%; /* Le titre occupe la largeur complète de la section */
    text-align: center; /* Centre le texte du titre */
    margin-bottom: 20px; /* Espace entre le titre et les articles */
}
button{
    height: 50px;
    width: 100px;
    border-radius:6px 6px 6px 6px;
    background-color:black;
    color:white;
}
.buttonAjoutFiche{
    background : transparent; 
    text-decoration:none;
    background-color:none;
    background-image: url("img/+.png");
}