/* PARTIE SITE */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fontawesome.com/icons/eye-slash?f=classic&s=solid");

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

html,body
{
    font-size: 14pt;
    margin:0;padding:0;
    font-family: "Lato";
}
a{
    color:white;
}
.lienNote{
    color:black;
}
.inner
{
    width: 80%;
    margin: auto;
}
.central-section {
    text-align:center;
    max-width: 1650px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border: 2px solid black;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    height: 5%;
}
.central {
    width: 100%; /* Le titre occupe la largeur complète de la section */
    text-align: center; /* Centre le texte du titre */
    margin-bottom: 20px; /* Espace entre le titre et les articles */
}
.formAccueil
{
    width: 100%; /* Le titre occupe la largeur complète de la section */
    text-align: center; /* Centre le texte du titre */
    margin-bottom: 20px; /* Espace entre le titre et les articles */
}
.buttonAll{
    height: 37px;
    width: 250px;
    border-radius:100px;
    background-color:black;
    color:white;
}

.buttonAjoutFiche{
    width : 150px;
    height : 150px;
    background-image: url("img/PLUS.png");
    background-color:white;
}

.wrapperBoutonListe{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
    text-align:center;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    margin-top: 20px; /* Espace supplémentaire en haut de la section */
    height: 5%;
}

.wrapperajoutNote{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

.buttonListe{
    height: 50px;
}
.btnCopie{
    height: 37px;
    width: 150px;
    border-radius:100px;
    background-color:black;
    color:white;
}
.btnIndexVision{
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: "Lato";
    font-size: 14pt;
}

.ajoutLigne{
    opacity: 1;
    height: 50x;
}


.divdivCentralRefus{
    max-width: 1150px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    height: 300px;
}

.divdivCentralVision{
    max-width: 1350px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    height: 300px;
}

.lblRaisonRefus{
    width: 100%; /* Le titre occupe la largeur complète de la section */
    margin-bottom: 20px; /* Espace entre le titre et les articles */
}
.textareaRefus{
   resize:none;
   width:1090px;
   height:290px;
}
.textareaVision{
    resize:none;
    width:350px;
    padding: 4px;
    color : black;
    border:2px solid black;
 }
 

.btnRefus{
    float:right;
}

select option{
    font-size: 0.9rem;
    padding: 2px 5px;
}

table{
    border-collapse:separate;
    border-spacing: 150px;
    margin: -50px;
}

.tableNote{
    border-collapse:separate;
    border-spacing: 91px;
}

.formErrorMsg{
	padding: 0.5em;
	font-size: 80%;	
	color: white;
	background-color: #900;
}

.checkbox {
    display: inline-block;
    position: relative;
    width: 20px; 
    height: 20px; 
    border: 5px solid black; 
    cursor: pointer;
}

.imageLogo{
    height:66px;
    float:right;
}

.central-sectionVisionNote{
    text-align:center;
    border: 2px solid black;
    max-width: 2000px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    height: 1195px;;
    border-radius:30px;
}

.centralsectionRefus{
    max-width: 1100px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border: 2px solid black;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    height: 300px;
}

.tableauInformation{
    text-align:center;
    max-width: 1650px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    height: 5%;
    border-collapse:separate;
    border-spacing: 60px;
}

.inputVision{
    width: 350px;
    padding: 9px;
    border: 2px black solid;

}
.inputCoutTotal{
    width: 220px;
    padding: 9px;
    border: 2px black solid;
}

.inputConn{
    width: 250px;
    border: 2px black solid;
    border-radius:40px;
    padding: 9px;
}

.inputSaisie{
    width: 250px;
    padding: 9px;
    border: 2px black solid;
}

.mdp {
    position: relative; /* Position the icon relative to the mdp div */
    display: flex; /* Allow aligning icon and input horizontally */
    align-items: center; /* Center icon and input vertically */
}

.mdp input{
    border: 2px black solid;
    border-radius:40px;
    padding: 9px;
}

.mdp i{
    position:absolute;
    top:11px;
    right:10px;
    font-size : 18px;
    cursor:pointer;
}

.mdp i.active::before{
    content: '\f070';
    color: black;
}

.tableauFormConn{
    text-align:center;
    max-width: 1650px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    height: 5%;
    border-collapse:separate;
    border-spacing: 25px;
}

.tableauFormSaisie{
    text-align:center;
    max-width: 1200px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    height: 5%;
    border-collapse:separate;
    border-spacing: 50px;

}

.central-sectionFormConn{

    align-items:center;
    display: flex;
    text-align:center;
    max-width: 550px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border: 2px solid black;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    min-height:550px;
    border-radius:50px;
}

.central-sectionInfoCompte{
    align-items:center;
    display: flex;
    text-align:center;
    max-width: 1200px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border: 2px solid black;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    min-height:400px;
}

select{
    width: 250px;
    height: 40px;
}

.central-sectionFormSaisie{
    text-align:center;
    max-width: 1200px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border: 2px solid black;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    min-height:550px;
    border-radius:50px;
}

.central-sectionNote{
    align-items:center;
    display: flex;
    text-align:center;
    max-width: 1500px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border: 2px solid black;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    min-height:550px;
}

.central-sectionFormPremsConn{
    text-align:center;
    max-width: 1000px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border: 2px solid black;
    margin-top: 0px; /* Espace supplémentaire en haut de la section */
    min-height:235px;
    border-radius:50px;
}

/* PARTIE CSS POUR LE HEADER DU SITE !!! */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.menu
{
    background: #39393B;
    width:100%;
    height:66px;
    line-height:66px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
 
}

.logo
{
    margin:0;padding:0;
    color: #fff; 
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 30px;
    letter-spacing:3px;
}

.m-left
{
    float:left; 
    width: 250px;
    height:66px;
}
.m-left2
{
    width:40px;
    float:left; 
    height:66px;
}

.m-right
{
    float: right; 
}

.m-link
{
    text-decoration: none; 
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0; margin: 0 15px; 
    /* padding 0 en haut et en bas, margin 0 en haut et en bas mais 15 pixels sur les côtés*/ 
    transition: all 0.3s ease-in-out; 
    border-bottom: 1px solid transparent;
}

a{
    text-decoration:none;
}

.m-link:hover{
    padding-bottom: 3px;
    border-color: #fff; /* à retravailler*/
}

.m-link i
{
    margin-right: 5px; 
    
}

/* SOUS MENU DU HEADER */

.lienMenu{
    color:black;
}
.mainmenubtn {
    float : right;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width:200px;
    height:66px;
    line-height:66px;
}
.dropdown {
    position: absolute;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #39393B;
    min-width: 200px;
    text-align:center;
    
}
.dropdown-child a {
    color: white;
    padding: 0px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}