/* PARTIE SITE */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

html,body
{
    margin:0;padding:0;
    font-family: "Lato";
}
a{
    color:white;
}
.inner
{
    width: 80%;
    margin: auto;
}
.central-section {
    text-align:center;
    max-width: 1300px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
    border: 2px solid black;
    margin-top: 20px; /* Espace supplémentaire en haut de la section */
    height: 5%;
}
.central {
    width: 100%; /* Le titre occupe la largeur complète de la section */
    text-align: center; /* Centre le texte du titre */
    margin-bottom: 20px; /* Espace entre le titre et les articles */
}
.formAccueil
{
    width: 100%; /* Le titre occupe la largeur complète de la section */
    text-align: center; /* Centre le texte du titre */
    margin-bottom: 20px; /* Espace entre le titre et les articles */
}
.buttonAll{
    height: 50px;
    width: 150px;
    border-radius:6px 6px 6px 6px;
    background-color:black;
    color:white;
}

.buttonAjoutFiche{
    width : 150px;
    height : 150px;
    background-image: url("img/PLUS.png");
    background-color:white;
}

.wrapperBoutonListe{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
    text-align:center;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    margin-top: 20px; /* Espace supplémentaire en haut de la section */
    height: 5%;
}

.wrapperajoutNote{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

.buttonListe{
    height: 50px;
}

.ajoutLigne{
    opacity: 1;
    height: 50x;
}

.lblRaisonRefus{
    width: 100%; /* Le titre occupe la largeur complète de la section */
    margin-bottom: 20px; /* Espace entre le titre et les articles */
}
.textareaRefus{
   resize:none;
}
select option{
    font-size: 0.9rem;
    padding: 2px 5px;
}

table{
    border-collapse:separate;
    border-spacing: 100px;
    margin-top: -50px;
}

.formErrorMsg{
	padding: 0.5em;
	font-size: 80%;	
	color: white;
	background-color: #900;
}
/* PARTIE CSS POUR LE HEADER DU SITE !!! */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.menu
{
    background: #39393B;
    width:100%;
    height:66px;
    line-height:66px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
 
}

.logo
{
    margin:0;padding:0;
    color: #fff; 
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 30px;
    letter-spacing:3px;
}

.m-left
{
    float:left; 
}

.m-right
{
    float: right; 
}

.m-link
{
    text-decoration: none; 
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0; margin: 0 15px; 
    /* padding 0 en haut et en bas, margin 0 en haut et en bas mais 15 pixels sur les côtés*/ 
    transition: all 0.3s ease-in-out; 
    border-bottom: 1px solid transparent;
}

a{
    text-decoration:none;
}

.m-link:hover{
    padding-bottom: 3px;
    border-color: #fff; /* à retravailler*/
}

.m-link i
{
    margin-right: 5px; 
    
}

/* SOUS MENU DU HEADER */

.lienMenu{
    color:black;
}
.mainmenubtn {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    min-width:200px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #39393B;
    min-width: 200px;
    text-align:center;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}