header li {
    display: inline-block;
    vertical-align: top;
}

header li a {
    display: block;
    padding: 20px;
    padding-left: 50px;
}

header li:hover a {
    background-color: #6495ED;
    color: white;
    width: 250px;
}

header li:hover .sous-menu {
    display: block;
}

.sous-menu {
    padding: 0;
    display: none;
    position: absolute;
    background-color: #6495ED;
    text-align: left;
}

.sous-menu li {
    display: block;
}

.sous-menu li:hover a {
    background-color: white;
    color: #6495ED;
}
